<!doctype HTML>
<html>
<head>
<title> V A smart assistant</title>
<link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h3 id="user_query"> assistant</h3>
<p id="chat" name="chat" aria-live="assertive">V A assistant said: welcome dear admin,<br> how may i help you today?</p>
<input type="text" id="chat_text" name="chat_text">
<label for="chat_text"> Message V A assistant:</label> <br>
<button type="button" id="touchMe"> send</button> <br>

  <button type="button" id="toggle-history" aria-live="assertive">Show Chat History</button>


  <div id="chat-history" style="display:none; border:1px solid #ccc; padding:10px; width:70%; margin-bottom:10px;"></div>


<script src="../static/scripts.js">
</script>


</body>

</html>
